body{
    background-color: lightgrey;
    margin: 0;
}
.navbar-container{
float: left;
}

.navbar-container a{
text-decoration: none; 
}

.links li{
  list-style-type: none;
  display: inline-block;
}

.navbar-links{
  float: right;
}
